<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <%- include('../../common-modules/templates/custom-font', { font }); %>
        <style>
            /* html {
                zoom: 0.75;
            } */
            body {
                direction: rtl;
                font-family: CustomFont, 'Roboto', sans-serif;
                font-size: 12px;
            }
            .container {
                width: calc(100% - 100px);
                max-width: 1200px;
                margin: auto;
                text-align: center;
                padding-top: 24px;
            }
            .header-wrapper {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: space-around;
                -ms-justify-content: space-around;
                justify-content: space-around;
            }
            h3 {
                margin: 0;
            }
            .value {
                font-weight: normal;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                margin-top: .5em;
            }
            table, th, td {
                border: 1px solid black;
                padding: 4px;
            }
            th {
                /* background-color: #727fc9; */
                border: 3px solid black;
                /* font-size: 1.25rem; */
                /* color: white; */
            }
            .full-cell {
                min-width: 75px;
                max-width: 100px;
            }
            .empty_cell {
                min-width: 60px;
            }
        </style>
    </head>
    <body>
        <%- include('header', { title, img }); %>
        <div class="container">
            <div class="header-wrapper">
                <% if (student) { %>
                    <h3>תלמידה: 
                        <span class="value"><%= student.name %></span>
                    </h3>
                <% } %>
                <% if (klass) { %>
                    <h3>כיתה: 
                        <span class="value"><%= klass.name %></span>
                    </h3>
                <% } %>
            </div>

            <table>
            <% if (reports.length > 0) { %>
                <tr>
                    <th>מקצוע</th>
                    <th>שם המורה</th>
                    <th>אחוז נוכחות</th>
                    <% if (reportParams.grades) { %>
                        <th>ציון</th>
                    <% } %>
                </tr>
                <% reports.forEach((report, index) => { %>
                    <% if (!reportParams.forceGrades || report.grade) { %>
                        <tr>
                            <td class="full-cell"><%= report.lesson_name %></td>
                            <td class="full-cell"><%= report.teacher_name %></td>
                            <td class="full-cell"><%= Math.round(((report.lessons - report.abs_count) / report.lessons) * 100) %>%</td>
                            <% if (reportParams.grades) { %>
                                <td class="full-cell">
                                <% if (reportParams.grade) { %>
                                    <%= report.grade %>%
                                <% } else { %>
                                    &nbsp;
                                <% } %>
                                </td>
                            <% } %>
                            </tr>
                    <% } %>
                <% }) %>
                <% if (!reportParams.hideAbsTotal) { %>
                    <tr>
                        <th>אחוז נוכחות כללי</th>
                        <th>&nbsp;</th>
                        <th>
                            <%= 
                                Math.round(
                                    (
                                        (
                                            reports.reduce((a, b) => a + b.lessons, 0) 
                                                - 
                                            reports.reduce((a, b) => a + b.abs_count, 0)
                                        ) / 
                                        reports.reduce((a, b) => a + b.lessons, 0)
                                    ) * 100
                                )
                            %>%
                        </th>
                    </tr>
                    <tr>
                        <th>נוכחות בקיזוז חיסורים מאושרים</th>
                        <th>&nbsp;</th>
                        <th>
                            <%= 
                                Math.round(
                                    (
                                        (
                                            reports.reduce((a, b) => a + b.lessons, 0) 
                                                - 
                                            reports.reduce((a, b) => a + b.abs_count, 0)
                                                +
                                            (approved_abs_count?.total || 0)
                                        ) / 
                                        reports.reduce((a, b) => a + b.lessons, 0)
                                    ) * 100
                                )
                            %>%
                        </th>
                    </tr>
                <% } %>
            <% } %>
            </table>

            <% if (personalNote) { %>
                <h4>
                    <%= personalNote %>
                </h4>
            <% } %>
        </div>
    </body>
</html>
